project-1-lead-generation/n8n/workflow.json
{
  "meta": {
    "instanceId": "portfolio-demo"
  },
  "name": "Lead Generation Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-lead-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lead-pipeline-webhook-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lead-pipeline:8000/run",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"input_file\": \"{{ $json.body.input_file || 'data/sample_leads.csv' }}\"}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-http",
      "name": "Trigger Lead Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if",
      "name": "Pipeline Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "s1", "name": "status",       "value": "success",                                                                    "type": "string"},
            {"id": "s2", "name": "total_leads",  "value": "={{ $('Trigger Lead Pipeline').item.json.result.total_leads }}",   "type": "number"},
            {"id": "s3", "name": "enriched",     "value": "={{ $('Trigger Lead Pipeline').item.json.result.enriched }}",      "type": "number"},
            {"id": "s4", "name": "outreached",   "value": "={{ $('Trigger Lead Pipeline').item.json.result.outreached }}",    "type": "number"},
            {"id": "s5", "name": "disqualified", "value": "={{ $('Trigger Lead Pipeline').item.json.result.disqualified }}",  "type": "number"},
            {"id": "s6", "name": "hot_leads",    "value": "={{ $('Trigger Lead Pipeline').item.json.result.hot_leads }}",     "type": "number"},
            {"id": "s7", "name": "warm_leads",   "value": "={{ $('Trigger Lead Pipeline').item.json.result.warm_leads }}",    "type": "number"},
            {"id": "s8", "name": "cold_leads",   "value": "={{ $('Trigger Lead Pipeline').item.json.result.cold_leads }}",    "type": "number"},
            {"id": "s9", "name": "output_file",  "value": "={{ $('Trigger Lead Pipeline').item.json.result.output_file }}",   "type": "string"},
            {"id": "s10","name": "processed_at", "value": "={{ $('Trigger Lead Pipeline').item.json.result.processed_at }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "node-set-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "e1", "name": "status",  "value": "error",                                                                                                   "type": "string"},
            {"id": "e2", "name": "message", "value": "={{ $('Trigger Lead Pipeline').item.json.message || 'Pipeline execution failed' }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "node-set-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "node-respond-err",
      "name": "Respond 500 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 420]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{"node": "Trigger Lead Pipeline", "type": "main", "index": 0}]
      ]
    },
    "Trigger Lead Pipeline": {
      "main": [
        [{"node": "Pipeline Succeeded?", "type": "main", "index": 0}]
      ]
    },
    "Pipeline Succeeded?": {
      "main": [
        [{"node": "Format Success", "type": "main", "index": 0}],
        [{"node": "Format Error",   "type": "main", "index": 0}]
      ]
    },
    "Format Success": {
      "main": [
        [{"node": "Respond 200 OK",    "type": "main", "index": 0}]
      ]
    },
    "Format Error": {
      "main": [
        [{"node": "Respond 500 Error", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "lead-gen-pipeline-v1",
  "tags": [{"name": "portfolio", "id": "tag-portfolio"}]
}
